<div class="panel">
    
    <div class="header">
      <span class="col_fade">个人信息</span>
    </div>
    <div class="inner">
      <div class="user_card">
  <div>
    <a class="user_avatar" href="/user/Mesea">

      <img src="/usericos/<%=user.userIco?user.userIco:'default.jpg'%>">
    </a>
    <span class="user_name"><a class="dark" href="/user/Mesea"><%=user.petname?user.petname:user.uname%></a></span>

    <div class="board clearfix">
      <div class="floor">
      <%console.log(user)%>
        <span class="big">积分:<%=user.glob%> </span>
        <span class="big"></span>
      </div>
    </div>
    <div class="space clearfix"></div>
    <span class="signature">
        “
           <%=user.mark?user.mark:'你猜,你踩踩踩'%>
        ”
    </span>
  </div>
</div>



    </div>
    
  </div>
  <div class="panel">
    <div class="inner">
      <a href="/topic/create" id="create_topic_btn">
        <span class="span-success">发布话题</span>
      </a>
    </div>
  </div>

  <div class="panel">
    <div class="inner">
      <a href="/Mytopic" id="create_topic_btn">
        <span class="span-success">我的话题</span>
      </a>
    </div>
  </div>
  
